
//-Page header start -->
div.page-header
    div.page-header-title
        h4= title
        span= subtitle

    div.page-header-breadcrumb
        ul.breadcrumb-title
            li.breadcrumb-item
                a(href="/")
                    i(class="icofont icofont-home")
            li.breadcrumb-item
                a(href="#!")= breadrumb[0]
            li.breadcrumb-item
                a(href="#!")= breadrumb[1]
//- Page header end -->