extends layout

block title
    title Testbed

append head
    link(href="/css/testbed.css", rel='stylesheet')
    script(src="/socket.io/socket.io.js")


prepend page-header
    - var title = "Agent"
    - var subtitle = "Calibración y Servicios"
    - var breadrumb = ["Mapas", "Testbed", "Agent"]

block content
    style(type="text/css").
        .agent-info {
          width: auto;
          color: white;
        }
        .agent-info-header {
          padding: 5px;
          background: #1B9D83;
          height: 40px;
          width: 100%;
          text-align: center;
        }
        .agent-info-body {
          overflow-y: scroll;
          overflow-x: hidden;
          max-height: 65vh;
          width: 100%;
        }
        .agent-info li {
          position: relative;
          padding: 12px 12px 12px 40px;
          list-style-type: none;
          color: white;
          font-size: 15px;
          transition: 0.2s;
          background: #0B0B0B;
          padding: 10px;
          border-bottom: 1px solid gray;
        }
        .agent-info li:last-child {
          border-bottom: none;
        }

        .agent-info li:hover {
          background-color: gray;
          transition: background-color .3s linear;
        }

        .services, .calibrations {
            margin-left: auto;
            margin-right: auto;
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: 35vh;
        }

        .accordion {
          background-color: #eee;
          color: black;
          font-weight: bold;
          cursor: pointer;
          padding: 5px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
          transition: 0.4s;
        }

        .active, .accordion:hover {
          background-color: #ccc;
        }

        .panel {
          padding: 0 18px;
          background-color: white;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          color: white;
          font-size: 14px;
        }

        ::-webkit-scrollbar {
            display: none;
        }
        
        .row:after {
          content: "";
          display: table;
          float:left;
          max-height: 60vh;
        }
        
        .column {
            margin: 0;
            width: 33.33%;
            padding-left: 5px;
            padding-right: 5px;
        }
    

        .console {
          width: 60%;
          height: 30%;
          position: absolute;
          bottom: 5%;
          right: 3%;
          background: black;
          color: white;
          border: 2px solid red;
          overflow-y: auto;
          overflow-x: hidden;
          padding: 10px;
        }

    div.page-body
      br
      div.row
        div.column
          div.agent-info
            div.agent-info-header
              h3(style="color: white") Información del nodo
            div.agent-info-body(id = "agent_info")
        div.column
          div.agent-info-header
            h3(style="color: white") Servicios
          div.services(id = "services")
        div.column
          div.agent-info-header
            h3(style="color: white") Calibracion
          div.calibrations(id = "calibrations")
      div.console
        div.console-content(id = "console_content")


append scripts
    script(src="/js/testbed/Agent.js")
