extends layout

block title
    title Testbed

append head
    link(href="/css/testbed.css", rel='stylesheet')
    script(src="/socket.io/socket.io.js")


prepend page-header
    - var title = "Agent"
    - var subtitle = "Calibración y Servicios"
    - var breadrumb = ["Mapas", "Testbed", "calibration"]

block content
    style(type="text/css").
        .agent-info {
          width: auto;
          float: left;
          color: white;
        }

        .agent-info li {
          position: relative;
          padding: 12px 12px 12px 40px;
          list-style-type: none;
          color: white;
          font-size: 14px;
          transition: 0.2s;
          background: #0B0B0B;
          padding: 10px;
          border-bottom:1px solid gray;
        }

        .agent-info li:first-child {
          font-size: 20px;
          border-bottom: none;
          background: none;
        }
        .agent-info li:first-child:hover {
          background: none;
        }
        .agent-info li:last-child {
          border-bottom: none;
        }

        .agent-info li:hover {
          background: #1B1B1B;
        }

        .services {
            width: 50%;
            float: right;
            border: 2px solid red;
        }

        .content {display:none;}


    div.page-body
      div.agent-info(id = "agent_info")

      div.services(id = "services")



append scripts
    script(src="/js/testbed/Agent.js")
