extends layout

block title
    title Testbed

append head
    link(href="/css/testbed.css", rel='stylesheet')
    script(src="/socket.io/socket.io.js")


prepend page-header
    - var title = "Agent"
    - var subtitle = "Calibración y Servicios"
    - var breadrumb = ["Mapas", "Testbed", "Agent"]

block content
    style(type="text/css").
        .agent-info {
          width: auto;
          float: left;
          color: white;
        }
        .agent-info-header {
          width: 100%;
        }
        .agent-info-body {
          overflow-y: scroll;
          overflow-x: hidden;
          max-height: 60vh;
          width: 100%;
        }
        .agent-info li {
          position: relative;
          padding: 12px 12px 12px 40px;
          list-style-type: none;
          color: white;
          font-size: 14px;
          transition: 0.2s;
          background: #0B0B0B;
          padding: 10px;
          border-bottom: 1px solid gray;
        }
        .agent-info li:last-child {
          border-bottom: none;
        }

        .agent-info li:hover {
          background-color: #1B1B1B;
          transition: background-color .3s linear;
        }

        .services {
            width: 50%;
            float: right;
        }

        .accordion {
          background-color: #eee;
          color: #444;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
          transition: 0.4s;
        }

        .active, .accordion:hover {
          background-color: #ccc;
        }

        .panel {
          padding: 0 18px;
          background-color: white;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          color: white;
          font-size: 14px;
        }

        ::-webkit-scrollbar {
            display: none;
        }
        
        .row:after {
          content: "";
          display: table;
          clear: both
        }
        
        .column {
          float:left;
          width: 33.33%;
        }

        .console {
          width: 70%;
          position: absolute;
          bottom: 0;
          right: 0;
          background: black;
          color: white;
          border: 2px solid red;
        }

    div.page-body
      br
      div.row
        div.column
          div.agent-info
            div.agent-info-header
              h3(style="color: white") Información del nodo
            div.agent-info-body(id = "agent_info")
        div.column
          div.services(id = "services")
        div.column
          h2 Calibracion
      div.console
        div.console-content(id = "console_content")


append scripts
    script(src="/js/testbed/Agent.js")
